python-dotenv
requests
openai
langchain
webdriver-manager
playwright
browser-use
streamlit
fastapi
flask
waitress
langchain-core
langchain-community
duckduckgo-search
chromadb
pandas
numpy
ollama
langchain-chroma